.app {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.app-header,
.app-footer {
  flex: none;
}

.app-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 1em;
}

.app-content {
  margin-top: 1em;
}

.app-nav {
  order: -1;
}

.app-nav {
  padding: 1em;
  border-radius: 4px;
  background: #eeeeee;
}

@media (min-width: 768px) {
  .app-body {
    flex-direction: row;
  }
  .app-content {
    flex: 1;
    padding: 0 1em;
    margin: 0;
  }
  .app-nav {
    flex: 0 0 16em;
  }
}

.list-group-item.active {
  background-color: #dadada;
  border-color: #dadada;
  color: #000000;
}
